img {
  display: inline-block;
  width: 48%;
  height: 55%;
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #12a9e2;
}

p {
  font-size: 1rem;
}

section {
  background-color: #083791;
}

section .centre {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articulo {
  opacity: 0.9;
  display: flex;
  box-sizing: border-box;
  width: 500px;
  padding: 0.5rem;
  border: 1px dashed #fff;
  align-items: center;
  justify-content: space-between;
}

.articulo:hover {
  background-color: #062e77;
  opacity: 1;
}

.imagen {
  background-repeat: no-repeat;
  background-size: contain;
  width: 48%;

  height: 220px;
}

.art-info {
  display: inline-block;
  width: 50%;
  align-self: flex-start;
}

@media screen and (max-width: 999px) {
  .articulo {
    border: none;
  }

  section .centre {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .articulo {
    width: 100vw;
  }
}
