nav {
  background-color: rgb(1, 85, 157);
  padding: 0.4rem 0;
}

img {
  display: inline-block;
  width: 48%;
}

h4 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #12a9e2;
}

p {
  font-size: 0.95rem;
  color: #fff;
}

section {
  background-color: #083791;
}

nav .centre {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

section .centre {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articulo {
  opacity: 0.9;
  display: flex;
  box-sizing: border-box;
  max-width: 500px;
  padding: 0.5rem;
  border: 1px dashed #fff;
  align-items: center;
  justify-content: space-between;
}

.articulo:hover {
  background-color: #062e77;
  opacity: 1;
}

.art-info {
  display: inline-block;
  width: 50%;
  align-self: flex-start;
}

#simbolo-usuario, #usuario {
  color: #fff;
}

#simbolo-usuario {
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(107, 188, 254);
  margin: 0 10px;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 100%;
}

#usuario {
}

@media screen and (max-width: 999px) {
  .articulo {
    border: none;
  }

  section .centre {
    justify-content: center;
  }
}
