* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

html {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.centre {
  max-width: 1000px;
  margin: 0 auto;
}
